.contacts__icons {
  height: 19px;
  margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
  .contacts__icons {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

@media screen and (max-width: 375px) {
  .contacts__icons {
    height: 15px;
    margin-right: 8px;
  }
}