.portfolio {
  /* height: 100vh; */
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-padding: 5dvh 0 5dvh 0;
}