.content {
  padding: 0 48px 0 48px;
  /* height: 80vh; */
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

@media screen and (max-width: 375px) {
  .content {
    padding: 0 10px 0 10px;
  }
}