.content {
  padding: 0 48px 0 48px;
}

html {
  scroll-snap-type: y proximity;
  -webkit-scroll-snap-type: y proximity;
  -webkit-overflow-scrolling: touch;
  /* scroll-padding: 5vh 0; */
}

@media screen and (max-width: 375px) {
  .content {
    padding: 0 10px 0 10px;
  }
}