.customers__unitImage {
  max-height: 50px;
  transition: ease-in-out .2s;
}

.customers__unitImage:hover {
  opacity: .5;
  transform: scale(105%);
  transition: ease-in-out .2s;
}

@media screen and (max-width: 430px) {
  .customers__unitImage {
    max-height: 30px;
  }
}

@media (prefers-color-scheme: dark) {
  .customers__unitImage {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}