.whoWeAre {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start;
  scroll-snap-stop: always;
}