.whoWeAre {
  /* height: 100vh; */
  /* height: 100dvh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  scroll-snap-align: center;
  -webkit-scroll-snap-align: center;
  scroll-snap-stop: always;

}