.portfolio__point {
  text-align: left;
  align-content: center;
  /* border-left: 5px solid black; */
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .portfolio__point {
    min-height: 30px;
  }
}