.portfolio__pointImage,
.portfolio__pointImage_nonreverse {
  height: 50px;
  padding-right: 10px;
}

@media screen and (max-width: 430px) {
  .portfolio__pointImage {
    height: 30px;
  }
}

@media (prefers-color-scheme: dark) {
  .portfolio__pointImage {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}